
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');


:root {
  --animate-duration: 3s;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-y: scroll;
}
.heading{
  font-family: 'Turret Road', cursive;
  color: white;
  font-size: 3rem !important;
  font-weight: 500;
}
.scrolled{
  background-color: black !important;
  transition: ease-in 1s;
  border-bottom: .5px solid rgb(29, 28, 28);
}
.navbar{
  padding-top: 1.5rem;
  padding-bottom: 0.099rem;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}



.logo{
  display: none;
}
.hero{
  margin-bottom: 1.5rem !important;
}
.navbar-brand img{
  width: 61px !important;
  height: 60px !important;
}
.navbar-brand{
  font-family: 'Mina', sans-serif;
  color: white !important;
  font-size: 35px;
}
.nav-btn .navbar-nav{
  display: flex;
  flex-direction: row !important;
}
.nav-btn1,.nav-btn2,.nav-btn-not{
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(black, black),
    linear-gradient( 90deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 7rem;
  height: 2.75rem;
}

.top{
  background-image: url("../assets/top-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.top p{
  font-size: 2.5rem;
  line-height:3.0625rem;
  font-weight: bold;
  color: white;
  font-family: 'Metrophobic', sans-serif;
  padding-left: 20rem !important;

}
#typed{
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient( 90deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Metrophobic', sans-serif;
}

.about-content-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  width: 58.25rem;
  height: fit-content;
  border-radius: 66px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.content:hover{
  box-shadow: 0 4px 24px 1px  #f37ad1,
          0 4px 24px 2px #9882f4,
          0 4px 26px 6px #55eed0;
}
.content p{
  margin: 0;
  padding-top: 10px;
  color: white;
  font-size: 1.5rem;
  font-family: 'Turret Road', cursive;

}
.card-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  min-width: 22rem;
  max-width: 24.87rem;
  height: 25.125rem;
  margin-top: 2rem;
  border-radius: 26px;
  background: black;
  color: white;
  border: 5px solid transparent;
  background-image: linear-gradient(black, black),
    linear-gradient( 90deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: 'Turret Road', cursive;

  
}
.card:hover{
  transform: translateY(-1rem);
  transition: ease-in .5s;
}
.service-heading h3{
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 25px;
}
.service-content{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  padding-top: 10px;
}

.section-padding{
  padding:60px 0;
  }
  .brand-carousel {
  background: transparent;
  }
/*  .owl-dots {
  text-align: center;
  margin-top: 4%;
  }
  .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #999898 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
  }
  .owl-dot.active {
  background-color: rgb(255, 255, 255) !important;
  }*/
  .single-logo img{
    height: 90px;
  }

  .contact {
    width: 100vw;
    color: #ff592d;
  }


  .btn-primary{
    background-color: black;
    border: 2px solid white;
    border-radius: 37px;
    width: 150px;
    font-family: 'Turret Road', cursive;

  }
  .btn-primary:hover{
    background-color: white;
    border: 2px solid black;
    border-radius: 37px;
    color: black;
  }

  .form-control{
    width: 40rem !important;
    color: white;
    transition: none;
    border: none;
    border-radius: 37px;
    font-family: 'Turret Road', cursive;

    border: 2px solid white;
  }
  input[placeholder], [placeholder], *[placeholder] {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 37px;
    
  }
  ::placeholder{
    color: white !important;
    opacity: .5 !important;
  }
  .form-control:focus{
    background: #47474c;
    color: white;
  }
  .input-group{
    width: 40rem;
  }
  .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
  }

  #validationCustomUsername-error{
    width: 100%;
  }
  #submit-form{
    color: red;
  
    justify-content: center;
  }
  #submit-form .row .input-group{
    padding: 0;
  }
  .mail-phone{
    color: white;
    font-family: 'Turret Road', cursive;
  }
  .mail-phone h5{

    font-weight: bold;
  }
  .mail-phone .fa {
    display: initial !important;
    background: linear-gradient( 180deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mail-phone a {
    color: white;
    text-decoration: none;
  }
  .mail-phone a:hover{
    color: silver;
  }

  .copyright {
    align-self: center;
    background: linear-gradient( 90deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Turret Road', cursive;

  }
  .copy a {
    text-decoration: none;
    color: white;
  }
  .copy a:hover {
    background: linear-gradient( 270deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



@media (min-width:992px) {
  .nav-btn{
    display: none;
  }
  .recent{
    display: none;
  }


  
}
@media (max-width:992px) {
  .navbar{
    padding-top: 0.5rem;
    padding-bottom: 0;
  }
  .hero{
    margin-bottom: 0.5rem !important;
  }
  .nav-btn-not{
    display: none;
  }
  .nav-btn .nav-link{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .nav-btn1,.nav-btn-not .me-4{
    margin-left: -16px !important;
  }
  .nav-btn .navbar-nav .nav-btn2{
    display: none;
  }
  .top p{
    font-size: 1.5rem;
    line-height:2.0625rem;
  }
  #typed{
    font-size: 2rem;
  }
  .top .ps-5{
    padding-left: 2rem !important;
  }

  .content{
    width: 92.25%;
    height: fit-content;
  }
  .content p{
    font-size: 1.2rem;
    max-width: 95%;
  }
  .card{
    margin-left: 0;
    width: auto;
  }

}

@media (max-width:768px){
  .content{
    width: 92.25%;
    height: fit-content;
  }
  .content p{
    font-size: 1.2rem;
    max-width: 95%;
  }

}

@media (max-width:600px) {
  .logo{
    display: contents;
  }
  .logo-not{
    display: none;
  }
  .content{
    width: 90.25%;
    height: fit-content;
  }
  .content p{
    font-size: 1rem;
    max-width: 90%;
  }
  .count img{
    width: 6.375rem !important;
  }
   .imgfluid img{
    width: 19.125rem !important;
  }
  .card{
    min-width: auto;
    width: 21rem;
    height: 23rem;
    margin-left: 0rem;
  }
  .service-heading h3{
    font-size: 2rem;
  }
  .service-content{
    font-size: 1.5rem;
  }

}