body {
  margin: 0;
  padding: 0;
  background: #141316;
  overflow-y: hidden;
}
.nav-btn .navbar-nav{
  display: flex;
  flex-direction: row !important;
}
.nav-btn1,.nav-btn-not{
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(black, black),
    linear-gradient( 90deg,#f37ad1 8.4%,#9882f4 58.19%,#55eed0 107.98%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 7rem;
  height: 2.75rem;
}

@media (min-width:992px) {
  .nav-btn{
    display: none;
  }

  
}
@media (max-width:992px) {
  .nav-btn-not{
    display: none;
  }
  .nav-btn .nav-link{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}